$drawer-text-color: rgb (255, 255, 255);
$drawer-background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
/* drawer style*/
#custom-drawer {
  background: $drawer-background !important;
  color: $drawer-text-color;
  .v-list-item__prepend {
    color: #ffffff;
    width: 35px;
  }
  .v-list-item {
    cursor: pointer !important;
  }
  .v-list-item-title {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff !important;
    border-radius: 5px;
  }
  .v-list-group__items .v-list-item {
    padding-inline-start: 20px !important;
  }

  .v-list-group--open {
    background: #ffffff0d !important;
    border-radius: 10px !important;
  }
  .v-list-item__append {
    color: #ffffff !important;
  }
}

.v-navigation-drawer--left {
  border-inline-end-width: 0px !important;
}
/* Drawer style end */
.v-field__input {
  --v-field-padding-start: 8px !important;
  --v-field-padding-end: 8px !important;
}

/*all common classes are defined here */

.v-align-middle {
  vertical-align: middle;
}

.fw-450 {
  font-weight: 450;
}

.router-text-decoration {
  text-decoration: none;
}

.custom-combobox input {
  width: 100%;
}

.border-rounded-10{
  border-radius: 10px;
}
.border-rounded-5{
  border-radius: 5px;
}